# IDE
.idea/
.vscode/*
!.vscode/tasks.json
*.iml
*.iws

# Build
.gradle/
build/
**/build/
target/
out/

# Compiled files
*.class
*.jar
*.war
*.ear

# macOS
.DS_Store

# Environment
.env
.env.local

# Logs
*.log